.List {
  margin: 0;
  line-height: 1.5;
  font-size: 1.15rem;
  text-align: left;
}

.List.HideMarkers {
  list-style: none;
  padding: 0;
}

@media (max-width: 40rem) {
  .List {
    font-size: 1rem;
  }
}
