.Header {
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  .Header {
    padding-top: 2rem;
    flex-direction: column;
    text-align: center;
  }
}

.Header img {
  border-radius: 50%;
}

@media (max-width: 640px) {
  .Header img {
    margin-bottom: 1rem;
  }
}
