.Paragraph {
  margin: 0;
  padding-bottom: 0.75rem;
  line-height: 1.5;
  font-size: 1.15rem;
  text-align: justify;
}

.Paragraph:has(+ ul) {
  padding-bottom: 0;
}

@media (max-width: 40rem) {
  .Paragraph {
    font-size: 1rem;
    text-align: left;
  }
}

.Small {
  font-size: 0.875rem;
}
